# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
segment/
venv/
.env/

# Data (VERY IMPORTANT)
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (later)
*.pt
*.pth
*.ckpt

# Misc
*.zip
*.tar
*.gz